In [1]:
import matplotlib.pyplot as plt
import matplotlib.transforms as transforms
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from scipy.stats import norm, gaussian_kde
import KDEpy

In [2]:
data = pd.read_csv('data_KDE_2D.csv')
data

           X         Y
0   5.336130  8.064160
1   0.293243  3.939345
2   0.033378  2.282810
3   0.646273  1.968270
4   5.119659  3.580912
..       ...       ...
95  4.874246  5.170647
96  0.048707 -0.307987
97  0.278910  3.251409
98  5.023713  4.360683
99  2.587660  6.071103

[100 rows x 2 columns]